package templates

templ LoginForm() {
    <form action="/login">
        <label for="level">Clearence Level</label>
        <input id="level" type="text" name="level"/>
        <br/>

        <label for="group">Group</label>
        <input id="group" type="text" name="group"/>
        <br/>

        <input type="submit" value="Login"/>
    </form>
}